<div class="columns">
  <div class="column" *ngFor="let img of [0,1,2,3]">
    <div class="card">
      <div class="card-content">
        <figure class="image">
          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
        </figure>
        <div class="media">
          <div class="media-content text-center">
            <p class="title is-4 font-dosis">John Smith</p>
          </div>
        </div>

        <div class="content text-center">
          Desarrollador de back-end y líder tecnológico con amplia experiencia en Android, especializado en arquitectura de sistemas
        </div>
      </div>
      <div class="divider"></div>
      <div class="columns footer-columns font-dosis is-gapless">
        <div class="column">
          <strong class="block">{{'$'}} {{'56,000'}}</strong>
          <span>Anual</span>
        </div>
        <div class="column">
            <strong class="block">{{'8'}} {{'años'}}</strong>
            <span>Javascript</span>
        </div>
        <div class="column">
            <strong class="block">{{8}}</strong>
            <span>Proyectos</span>
        </div>
      </div>
      <div class="card-overlay">
          <div class="card-content">
            <h3 class="title is-4 font-dosis">John Smith</h3>
            <div class="card-skills">
                <app-skill-circle *ngFor="let year of [3,4,5,10,2,7,8,9]" [year]="year" [title]="'JAVA'"></app-skill-circle>
            </div>
          </div>
          <div class="full-width absolute bottom right">
              <h3>Ingles : <strong>{{'Intermedio'}}</strong></h3>
              <a class="button bold is-radiusless is-primary is-large is-fullwidth">VER PERFIL</a>
          </div>
      </div>
    </div>
  </div>
</div>