@import '../../../../variables';
.image {
    margin: auto;
    img {
        margin: auto;
        border-radius: 50%;
        object-fit: cover;
        display: block;
        width: 140px;
        height: 140px;
    }
}

h3 {
    font-size: 12px;
    margin-bottom: 1em;
    font-weight: normal;
    strong {
        font-weight: bold;
    }
}

.title {
    font-size: 1rem;
    font-weight: bold;
    color: $dark;
}

.content {
    font-size: 12px;
    color: $black;
}

.card {
    position: relative;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, .15);
    border: none;
    .card-overlay {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $gray;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
    }
    &:hover {
        .card-overlay {
            opacity: 1;
            visibility: visible;
            height: 100%;
        }
    }
}

.content figure:not(:last-child) {
    margin-bottom: 1em !important;
}

.footer-columns {
    padding: 10px 0;
    span,
    strong {
        display: block;
        margin: auto;
    }
    strong {
        font-size: 1rem;
    }
    span {
        font-size: 12px;
        font-weight: 100;
    }
}
.button {
    &.is-large {
        font-size: 1.3em;
    }
}