@import '../../../../variables';
.is-right {
    z-index: 1;
    pointer-events: initial !important;
    cursor: pointer;
}
.wancho {
    max-width: 480px;
    margin: auto;
    margin-top: 2rem;
}
.title {
    color: $dark;
    font-weight: 400;
    background:-webkit- linear-gradient(90deg, #FFC0CB 50%, #00FFFF 50%);
    background: -webkit-linear-gradient(left,#00c0f9, #4d8cff, #9f72ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.subtitle {
    font-size: .8em;
    margin-top: -0.85rem !important;
}
.navbar-item {
    i {
        color: $dark;
        background:-webkit- linear-gradient(90deg, #FFC0CB 50%, #00FFFF 50%);
        background: -webkit-linear-gradient(left,#00c0f9, #4d8cff, #9f72ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}