<section class="hero is-fullheight">
  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img [src]="LOGO" alt="Logo">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" (click)="back()">
              <i class="fas fa-arrow-left"></i>
              <span style="margin-left:5px;">Open the main site</span>
            </a>
          </div>
        </div>
      </div>
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Iniciar
        <span>Sesión</span>
      </h1>
      <h2 class="subtitle">
          ¡Hola! inicia sesión y comienza a encontrar <br>
          a tu mejor equipo
      </h2>
      <div class="wancho text-left">
        <div class="field">
          <label class="label">Email</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input is-danger is-rounded" type="email" placeholder="Email">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
          </div>
          <p class="help is-danger">This email is invalid</p>
        </div>
        <div class="field">
          <label class="label">Password</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input is-danger is-rounded" [type]="isPassword ? 'text':'password'" placeholder="Password">
            <span class="icon is-small is-left">
              <i class="fas fa-key"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas" (click)="viewPassword()" [ngClass]="isPassword ? 'fa-eye':'fa-eye-slash'"></i>
            </span>
          </div>
          <p class="help is-danger">This email is invalid</p>
        </div>
        <button class="button is-rounded is-fullwidth is-primary">Iniciar Sesión</button>
        <hr>
        <button class="button is-rounded is-fullwidth is-facebook">
            <span>Continuar con facebook</span>
        </button>
        <br>
        <button class="button is-rounded is-fullwidth is-gmail">
          <span>Iniciar con gmail</span>
        </button>
      </div>
    </div>
  </div>
</section>