<div class="c100 small" [ngClass]="radio">
  <span>
      {{ year }} {{ year != 1 ? 'años':'año' }}
  </span>
  <div class="slice">
    <div class="bar"></div>
    <div class="fill"></div>
  </div>
  <p>{{ title }}</p>
</div>