$circle-width:0.08em;
$circle-width-hover: 0.04em;
$primary-color: #EEBA01;
$secondary-color: #ccc;
$bg-color: #f5f5f5;
$primary-color-green: #4db53c;
$primary-color-orange: #dd9d22;
// colors dark skin
$primary-color-dark: #c6ff00;
$secondary-color-dark: #777;
$bg-color-dark: #666;
$primary-color-green-dark: #5fd400;
$primary-color-orange-dark: #e08833;
// mixin
@mixin rotate($rotate) {
    -webkit-transform: rotate($rotate);
    -moz-transform: rotate($rotate);
    -ms-transform: rotate($rotate);
    -o-transform: rotate($rotate);
    transform: rotate($rotate);
}

@mixin box-sizing($box-sizing) {
    -webkit-box-sizing: $box-sizing;
    -moz-box-sizing: $box-sizing;
    box-sizing: $box-sizing;
}

@mixin transition-property($transition) {
    -webkit-transition-property: $transition;
    -moz-transition-property: $transition;
    -o-transition-property: $transition;
    transition-property: $transition;
}

@mixin transition-duration($duration) {
    -webkit-transition-duration: $duration;
    -moz-transition-duration: $duration;
    -o-transition-duration: $duration;
    transition-duration: $duration;
}

@mixin transition-timing-function($timing) {
    -webkit-transition-timing-function: $timing;
    -moz-transition-timing-function: $timing;
    -o-transition-timing-function: $timing;
    transition-timing-function: $timing;
}

.rect-auto {
    clip: rect(auto, auto, auto, auto);
}

.pie {
    position: absolute;
    border: $circle-width solid $primary-color;
    width: 1 - (2 * $circle-width);
    height: 1 - (2 * $circle-width);
    clip: rect(0em, 0.5em, 1em, 0em);
    border-radius: 50%;
    @include rotate(0deg);
}

.pie-fill {
    @include rotate(180deg);
}

.c100 {
    *,
    *:before,
    *:after {
        @include box-sizing(content-box);
    }
    position: relative;
    font-size: 120px;
    width: 1em;
    height: 1em;
    display: inline-block;
    border-radius: 50%;
    margin: 0 0.1em 0.4em 0;
    background-color: $secondary-color;
    &.center {
        margin: 0 auto;
    }
    &.big {
        font-size: 240px;
    }
    &.small {
        font-size: 50px;
    }
    p {
        margin-top: 52px;
        font-size: 8px;
    }
    >span {
        position: absolute;
        width: 100%;
        z-index: 1;
        left: 0;
        top: 0;
        width: 5em;
        line-height: 5em;
        font-size: 0.2em;
        color: $secondary-color;
        display: block;
        text-align: center;
        white-space: nowrap;
        @include transition-property(all);
        @include transition-duration(0.2s);
        @include transition-timing-function(ease-out);
    }
    &:after {
        position: absolute;
        top: $circle-width;
        left: $circle-width;
        display: block;
        content: "";
        border-radius: 50%;
        background-color: $bg-color;
        width: 1 - (2 * $circle-width);
        height: 1 - (2 * $circle-width);
        @include transition-property(all);
        @include transition-duration(0.2s);
        @include transition-timing-function(ease-in);
    }
    .slice {
        position: absolute;
        width: 1em;
        height: 1em;
        clip: rect(0em, 1em, 1em, 0.5em);
    }
    .bar {
        @extend .pie;
    } // loop to create all needed elements automatically
    @for $i from 51 through 100 {
        &.p#{$i} {
            .slice {
                @extend .rect-auto;
            }
            .bar:after {
                @extend .pie-fill;
            }
            .fill {
                @extend .pie;
                @extend .pie-fill;
            }
        }
    } // loop to rotate all 100 circles
    @for $i from 1 through 100 {
        &.p#{$i} .bar {
            $degs: (360/100*$i);
            @include rotate(#{$degs}deg);
        }
    }
    &:hover {
        cursor: default;
        >span {
            // width: 3.33em;
            // line-height: 3.33em;
            // font-size: 0.3em;
            color: $primary-color;
        }
        &:after {
            top: $circle-width-hover;
            left: $circle-width-hover;
            width: 1 - (2*$circle-width-hover);
            height: 1 - (2*$circle-width-hover);
        }
    }
}