<!-- <app-loading *ngIf="show"></app-loading> -->

<div class="loading-stage" @loadingAnimation *ngIf="!ready">
  <div class="loading-text">
    <img [src]="MAQTA" alt="">
    <span>loading ({{ percentage }}%)</span>
  </div>
</div>


<div class="main-stage">
  <div class="router-container" [@routeAnimation]="prepRouteAnimation(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>

<!-- <app-modal #modal></app-modal> -->

<!-- <app-tool-tip #tooltip></app-tool-tip> -->