$green: #3DBDB6;
$black: #3E3E58;
.loading-stage {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.95);
    z-index: 100000;
    .loading-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 20px;
        img {
            width: 64px;
            height: 64px;
            object-fit: contain;
            display: block;
            margin: auto;
            margin-bottom: 1rem;
        }
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes upDown {
    from {
        top: 100px;
    }
    to {
        top: 300px;
    }
}