@import "../../../../variables";
.navbar-item {
    font-size: 14px;
    font-weight: normal;
}

.button {
    font-size: 14px;
}

.title {
    font-size: 54px;
    font-weight: bold;
    span {
        color: $warning;
    }
    @media screen and (max-width:1366px) {
        font-size: 40px;
    }
    @media screen and (max-width:640px) {
        font-size: 30px;
    }
    @media screen and (max-width:411px) {
        font-size: 24px;
    }
}

.subtitle {
    font-size: 24px;
    @media screen and (max-width: 1366px) {
        font-size: 20px;
    }
    @media screen and (max-width:411px) {
        font-size: 16px;
    }
}

.title:not(.is-spaced)+.subtitle {
    margin-top: initial;
}

.control {
    &.has-icons-right {
        .input {
            padding-right: 4.1em;
        }
    }
}

.mq-button {
    position: absolute;
    right: 18px;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
}

.mq-control {
    margin-top: 60px;
    @media screen and (max-width: 640px) {
        margin-top: 40px;
    }
}

.hero-foot {
    text-align: center;
    padding: 20px 0;
    @media screen and (max-width:768px) {
        font-size: 0.7rem;
    }
}

.input {
    position: relative;
    z-index: 1;
    &:focus {
        border-color: transparent;
    }
}
.tag {
    margin-left: 10px;
    margin-bottom: 5px;
    &:first-child {
        margin-left: 0;
    }
    &:hover,
    &:active {
        background: #bb9200;
        font-weight: bold;
    }
}

.mq-label {
    color: $light;
    display: block;
    margin-bottom: 20px;
}
// List search
.mq-search-list {
    position: absolute;
    padding: 1.5rem 1rem;
    box-sizing: border-box;
    border-radius: 0 0 6px 6px;
    left: 0;
    right: 0;
    top: 50px;
    z-index: 0;
    background-color: $gray;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    color: #8E8E8E;
    text-align: center;
    h2 {
        font-weight: bold;
        font-size: 15px;
        text-transform: uppercase;
        font-family: 'Dosis', sans-serif;
    }
    p {
        margin-top: 5px;
        font-size: 14px;
        font-family: 'Comfortaa', sans-serif;
    }
}

.columns {
    margin-top: .8rem;
}

.column-title {
    font-size: 24px;
    font-weight: bold;
    color: #0B0B31;
}
.mq-column {
    p {
        line-height: 115%;
    }
}
li {
    cursor: pointer;
    &:hover,
    &:active {
        font-weight: bold;
    }
}