<section class="hero is-black is-fullheight">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
        <header class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        <img [src]="LOGO" alt="Logo">
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenuHeroC">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenuHeroC" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item" routerLink="/login" routerLinkActive="is-active">
                            Ingresar
                        </a>
                        <a class="navbar-item" routerLink="/register" routerLinkActive="is-active">
                            Registrarse
                        </a>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                Contratar a
                <span>los mejores</span> desarrolladores
            </h1>
            <h2 class="subtitle">
                Acceda al conjunto único de talentos de ingeniería disponibles para el trabajo a distancia
            </h2>
            <div class="mq-control control has-icons-left has-icons-right">
                <input class="input is-large" type="text" placeholder="Encontrar  ingenieros  software">
                <span class="icon is-medium is-left">
                    <i class="fas fa-search"></i>
                </span>
                <button (click)="search()" class="button mq-button is-success">Buscar</button>

                <section *ngIf="isSearch" class="mq-search-list is-radius-large">
                    <div *ngIf="isFavoriteList">
                        <h2>Las busquedas mas populares</h2>
                        <div class="columns">
                            <div class="column">
                                <h2>Mobile</h2>
                                <p>PHP</p>
                                <p>Angular</p>
                                <p>ReacJs</p>
                                <p>JavaScript</p>
                                <p>Ruby</p>
                            </div>
                            <div class="column">
                                <h2>Web</h2>
                                <p>PHP</p>
                                <p>Angular</p>
                                <p>ReacJs</p>
                                <p>JavaScript</p>
                                <p>Ruby</p>
                            </div>
                            <div class="column">
                                <h2>Backend</h2>
                                <p>PHP</p>
                                <p>Angular</p>
                                <p>ReacJs</p>
                                <p>JavaScript</p>
                                <p>Ruby</p>
                            </div>
                        </div>
                    </div>
                    <ul class="text-left">
                        <li>PHP</li>
                        <li>Angular</li>
                        <li>ReacJs</li>
                        <li>JavaScript</li>
                        <li>Ruby</li>
                    </ul>
                </section>
            </div>
            <div class="margin-top-60">
                <span class="mq-label">Las búsquedas más populares</span>
                <span class="tag is-warning">Java</span>
                <span class="tag is-warning">Blockchain</span>
                <span class="tag is-warning">JavaScript</span>
                <span class="tag is-warning">Angular</span>
                <span class="tag is-warning">React.js</span>
                <span class="tag is-warning">PHP</span>
                <span class="tag is-warning">iOs</span>
                <span class="tag is-warning">Front End</span>
                <span class="tag is-warning">C#</span>
            </div>
        </div>
    </div>
</section>
<app-list-brands></app-list-brands>
<section class="section">
    <div class="content container text-center">
        <h2 class="font-dosis">Cómo funciona</h2>
        <p class="font-light">Contratar ingenieros que no encuentra en portales de freelance</p>
        <div class="columns margin-top-60">
            <div class="column mq-column" *ngFor="let img of imagesAvatar">
                <img [src]="img.src" alt="img.title">
                <h3 class="column-title font-dosis">{{ img.title }}</h3>
                <p class="font-dosis">{{ img.description }}</p>
                <p class="font-dosis">{{ img.description1 }}</p>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="content container text-center">
        <h2 class="font-dosis margin-bottom-2rem">Seleccione el talento : {{ date | date }}</h2>
        <app-talent-card></app-talent-card>
    </div>
</section>
<!-- <app-login [isActive]="isActiveLogin" (onToggle)="onToggleLogin($event)"></app-login> -->
