<section class="section has-background-light">
  <div class="content text-center">
    <h6>Contratar a desarrolladores de las empresas en las que confía:</h6>
  </div>
  <div class="container is-fullhd">
    <div class="columns  notification text-center">
      <figure class="column" *ngFor="let image of images">
          <img [src]="image" alt="">
      </figure>
    </div>
  </div>
</section>