// 1. Import the initial variables
@import "./node_modules/bulma/sass/utilities/initial-variables";
@import "./node_modules/bulma/sass/utilities/functions";
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
// 2. Set your own initial variables
// Update blue
$green: #3DBDB6;
$pink: #ffb3b3;
$pink-invert: #fff;
// $primary: $turquoise;
// $link: $blue;
// $info: $cyan;
// $success: $green;
// $warning: $yellow;
// $danger: $red;
// $dark: $grey-darker;
// $text: $grey-dark;
// Add a serif family
$family-serif: "Comfortaa",
"Merriweather",
serif;
// 3. Set the derived variables
// Use the new pink as the primary color
$primary-success: #309690;
$success: $green;
$black: #3E3E58;
// Use the existing orange as the danger color
$danger: $orange;
// Use the new serif family
$family-primary: $family-serif;
// 4. Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);
// 5. Add new color variables to the color map.
@import "./node_modules/bulma/sass/utilities/derived-variables";
$addColors: ( "twitter":($twitter, $twitter-invert),
"linkedin": ($linkedin, $linkedin-invert),
"github": ($github, $github-invert));
$colors: map-merge($colors,
$addColors);
// 6. Import the rest of Bulma
@import "./node_modules/bulma/bulma";