$green: #3DBDB6;
$primary-success: #309690;
$black: #3E3E58;
$warning:#EEBA01;
$light:#ffffff;
$gray:#F4F4F4;
$dark:#0B0B31;

.is-facebook {
    background-color: #3b5998;
    color: $light;
}
.is-gmail {
    background-color: #c71610;
    color: $light;
}
.margin-top-60 {
    margin-top: 60px !important;
    @media screen and (max-width: 640px) {
        margin-top: 40px !important;
    }
}
.absolute {
    position: absolute;
}
.bottom {
    bottom: 0;
}
.bold {
    font-weight: bold;
}
.full-width {
    width: 100%;
}
.right {
    right: 0;
}
.margin-top {
    margin-top: 1rem;
}
.margin-bottom {
    margin-bottom: 1rem;
}
.margin-bottom-2rem {
    margin-bottom: 2rem;
}
.divider {
    width: 100%;
    height: 1px;
    background-color: #E1E1E1;
}
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}

.font-dosis {
    font-family: 'Dosis', sans-serif;
}
.font-light {
    font-weight: 100;
}

.mq-column {
    padding: 0 1.9em;
    p {
        color: #0B0B31;
        font-weight: 100;
        text-align: justify;
    }

    h3 {
        font-size: 22px;
    }
}

@media screen and (max-width: 768px) {
    .mq-column {
        p {
            text-align: center;
        }

        img {
            margin-top: 30px;
        }
    }
}
@media screen and (max-width: 640px) {
    .mq-column {
        p {
            text-align: justify;
        }
    }
}